KERNEL=="uinput", GROUP="monitorize", MODE="0660", OPTIONS+="static_node=uinput"
SUBSYSTEM=="input", KERNEL=="event*", ATTRS{name}=="Monitorize-Touch", GROUP="monitorize", MODE="0660"
SUBSYSTEM=="input", KERNEL=="event*", ATTRS{name}=="Monitorize-Stylus", GROUP="monitorize", MODE="0660"
