[Desktop Entry]
Type=Application
Name=Monitorize
Comment=Linux to Android display bridge
Exec=monitorize
Icon=monitorize
Terminal=false
Categories=Utility;
Keywords=monitor;display;tablet;android;screen;extend;mirror;streaming;
StartupNotify=true
StartupWMClass=monitorize
