[Desktop Entry]
Type=Application
Name=Monitorize
Comment=Create Sunshine virtual displays for Moonlight clients
Exec=monitorize
Icon=monitorize
Terminal=false
Categories=Utility;
Keywords=monitor;display;moonlight;sunshine;screen;extend;mirror;streaming;
StartupNotify=true
StartupWMClass=monitorize
